:root {
    --main-color: rgb(213,43,30);
    --black-main: rgb(32,30,28);
    --black-second: rgb(40,38,35);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    background-color: #fff;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.logo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--main-color);
}

nav {
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 6rem;
}

.nav-link {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    font-family: 'RocknRoll One', sans-serif;
}

.nav-link:hover {
    color: var(--main-color);
}

main {
  background-color: var(--black-main);  
  color: #fff;
  margin-top: 88px;
}

#mainSection {
    max-width: 1080px;
    margin: 0 auto;
}

.mainTitle {
    font-size: 3rem;
    text-align: center;
    padding: 30px;
    /* color: var(--main-color); */
}

.mainSubtitle {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
}

.featuresTitle {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    width: 900px;
}

.feature {
    /* border: 1px solid white; */
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 170px;
    margin: 15px auto;
    padding: 20px;
    background-color: var(--black-second);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feature i {
    font-size: 2rem;
    color: var(--main-color);
}

.feature h3 {
    font-size: 1.7rem;
}

.feature p {
    font-size: 1.5rem;
    text-align: justify;
}

#displayMedia {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#displayMedia h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 30px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
    font-size: 2rem;
}

.contactTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
}

#formSection {
    max-width: 1080px;
    margin: 0 auto;
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: space-around;
}

.contactForm {
    min-width: 500px;
}

.contactForm form{
    display: flex;
    flex-direction: column;
}

.contactForm label{
    display: block;
    font-size: 1.6rem;
    margin-top: 10px;
}

form input{
    width: 100%;
    height: 2.5rem;
}

form textarea {
    width: 100%;
}

.submitButton {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

.submitBtn {
    height: 30px
}

footer {
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.footerLinks ul{
    display: flex;  
    list-style: none; 
}

.footerLinks ul li{
    margin-left: 40px;
}

.footerLinks ul li a {
    text-decoration: none;
    font-size: 1.6rem;
}

.footerLogo {
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .features {
        width: auto;
    }
}